<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.googleindiascholarships">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".members.ui.Phase1Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".members.ui.Phase2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".members.ui.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".projects.ui.ProjectDetails"
            android:label="@string/title_activity_project_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".projects.ui.CreateProjectActivity"
            android:label="@string/title_activity_create_project"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:parentActivityName=".ui.MainActivity"
            android:name=".community.ui.ShareLinkActivity"
            android:label="@string/title_activity_share_link"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>